<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Selenium Test Report</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
     window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Summary Automation Test Results"
		},
		legend: {
			maxWidth: 200,
			itemWidth: 200
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: {{numberOfPassedTests}}, indexLabel: "Passed",color:"Green" },
				{ y:{{numberOfFailedTests}} , indexLabel: "Failed",color:"Red" },

			]
		}
		]
	});
	chart.render();
}
</script>

</head>
<body>

<h3>Summary</h3>

<div id="container">
    <div id="table" style="float:left">
        <tbody>
        <table border="1" cellpadding="2" cellspacing="0">
            <tr>
                <td width="20%" valign="top">Tests passed</td>
                <td width="20%" valign="top">{{ percentageOfSuccessfulTests }}% passed</td>
            </tr>
            <tr>
                <td valign="top">Failed</td>
                <td valign="top">{{ numberOfFailedTests }}</td>
            </tr>
            <tr>
                <td valign="top">Passed</td>
                <td valign="top">{{ numberOfPassedTests }}</td>
            </tr>
            <tr>
                <td valign="top">Duration</td>
                <td valign="top">{{ durationAsText }}</td>
            </tr>
        </table>
        </tbody>
    </div>
        <div id="chartContainer" style="float:left"></div>
</div>

<h3>Passed Tests</h3>
<table border="1" cellpadding="2" cellspacing="0">
    <tbody>
    <tr>
        <td width="12%" valign="top"><b>Test method</b></td>
        <td width="12%" valign="top"><b>Message</b></td>

    </tr>
    {{#passedTests}}
        <tr>
            <td valign="top">{{ testName }}()</td>
            <td valign="top"><pre>{{ message }}</pre></td>

            </td>
        </tr>
    {{/passedTests}}
    </tbody>
</table>



<h3>Failed Tests</h3>

<table border="1" cellpadding="2" cellspacing="0">
    <tbody>
    <tr>
        <td width="12%" valign="top"><b>Test method</b></td>
        <td width="78%" valign="top"><b>Error</b></td>
        <td width="10%" valign="top"><b>Screen shot</b></td>
    </tr>
    {{#failedTests}}
        <tr>
            <td valign="top">{{ testName }}()</td>
            <td valign="top"><pre>{{ stackTrace }}</pre></td>
            <td align="center" valign="top"><a href="{{ screenshotFileName }}" target="_blank"><img width="100%"
                                                                                                    src="{{ screenshotFileName }}"/></a>
            </td>
        </tr>
    {{/failedTests}}
    </tbody>
</table>
</body>
</html>
