
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans';
}

div#header {
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo{
  float: left;
  margin-top: 13px;
  margin-left: 10px
}

.logo a{
  font-size: 1.6em;
  color: #fff;
}

div#container{
  width: 100%;
  margin: 0 auto;
}

.sidebar{
  float: left;
  width: 250px;
  height: 500%;
  background-color: #171717;
}

.content{
  width: auto;
  height: 100%;
  margin-left: 250px;
  background-color: #fff;
  padding: 15px;
}

ul#nav{
}

ul#nav li {
  list-style: none;
}

ul#nav li a{
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ul#nav li a:hover{
  background-color: #030303;
  color: #fff;
  padding-left: 30px;
}

ul#nav li a.selected{
  background-color: #030303;
  color: #fff;
}
